In [1]:
import pandas as pd
import sqlite3

In [2]:
##CREATED MY 3 DATASETS AND GENERATED THEIR CSV FILES, GOT THESE LINKS FROM MOCKAROO 
! curl "https://api.mockaroo.com/api/62be7000?count=1000&key=d458dec0" > "customers.csv"
! curl "https://api.mockaroo.com/api/ad55cfc0?count=1000&key=d458dec0" > "orders.csv"
! curl "https://api.mockaroo.com/api/492b5160?count=1000&key=d458dec0" > "products.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100 26858    0 26858    0     0  11528      0 --:--:--  0:00:02 --:--:-- 11536
100   99k    0   99k    0     0  35616      0 --:--:--  0:00:02 --:--:-- 35648
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
100   127    0   127    0     0     41      0 --:--:--  0:00:03 --:--:--    41
100 10801    0 10801    0     0   3381      0 --:--:--  0:00:03 --:--:--  3383
100 50045    0 50045    0     0  11460      0 --:--:--  0:00:04 --:--:-- 11465
100 73800    0 73800    0     0  14170      0 --:--:--  0:00:05 --:--:-- 17882
100 79442    0 79442    0     0  14390      0 --:--:--  0:00:05 --:--:-- 22926
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100 15689    0 15689    0     0   9966      0 --:--:--  0:00:01 --:--:--  9980
100  431k    0  431k    0     0   169k      0 --:--:--  0:00:02 --:--:--  169k
100 2642k    0 2642k    0     0   749k      0 --:--:--  0:00:03 --:--:--  749k
100 3007k    0 3007k    0     0   811k      0 --:--:--  0:00:03 --:--:--  812k

In [3]:
##SETTING UP ALL THE DATAFRAMES
customers = pd.read_csv('customers.csv')
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')

In [7]:
##CREATE A SQLITE DATABASE AND STORE THEE TABLES FROM MOCKAROO
db_name = "ecommerce.db"
conn = sqlite3.connect(db_name)

customers.to_sql("customers" , conn , index=False , if_exists="replace")
orders.to_sql("orders" , conn , index=False , if_exists="replace")
products.to_sql("products" , conn , index=False , if_exists="replace")

1000

In [8]:
##TESING THE CONNECTION
pd.read_sql("SELECT * FROM customers LIMIT 5;",conn)

,customer_id,first_name,last_name,email,phone_number,address,city,country,postal_code,membership_level
0,1,Fredric,Gomes,fgomes0@cnn.com,979-565-1343,06 Blackbird Terrace,Gambalidio,Philippines,4025,Gold
1,2,Veda,Chappelow,vchappelow1@360.cn,341-941-6532,53143 Petterle Junction,Cimuncang,Indonesia,None,Platinum
2,3,Corrie,Oyley,coyley2@sphinn.com,431-878-0886,26 Stone Corner Place,Lelydorp,Suriname,None,Silver
3,4,Lizabeth,Spritt,lspritt3@squidoo.com,424-713-7647,98255 Nevada Point,Briey,France,54154 CEDEX,Gold
4,5,Cassey,Simpole,csimpole4@sun.com,222-550-6723,26334 Commercial Center,San Isidro,Mexico,64103,Silver